/*****************************************
  GENERAL & BODY LAYOUT & STYLES
******************************************/
* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

figure {
  margin: 0;
}

.page-wrapper {
  margin: 0 auto;
}



/*****************************************
  FONT FAMILIES & STYLES
******************************************/
body {
  font-family: 'Raleway', sans-serif;
  color: #727272;
}

.logo a,
.main-nav a,
.portfolio-section h2,
.contact-section h2 {
  font-family: 'Righteous', sans-serif;
  color: #1abc9c;
}

.logo a:hover,
.main-nav a:hover {
  color: #16a085;
}



/*****************************************
  MAIN-HEADER & MAIN-NAV LAYOUT & STYLES
******************************************/
/** GENERAL & LOGO STYLING & LAYOUT **/
.main-header {
  text-align: center;
  margin-bottom: 40px;
  padding-left: 0.875em;
  padding-right: 0.875em;
}

.logo {
  /* Layout */
  padding-top: 22px;
  padding-bottom: 22px;

  /* Styles */
  font-size: 1.5em;
  letter-spacing: 0.1em;
}


/** NAVIGATION STYLING & LAYOUT**/
.main-nav li {
  background: #fff;
  margin-bottom: 6px;
}

.main-nav a {
  /* Layout */
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;

  /* Styling */
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 0.9em;
}



/*****************************************
  ABOUT SECTION LAYOUT & STYLES
******************************************/
.about-section {
  padding-left: 0.875em;
  padding-right: 0.875em;
  margin-bottom: 40px;
  text-align: center;
}



/*****************************************
  PORTFOLIO SECTION LAYOUT & STYLES
******************************************/

.portfolio-section {
  background: #fff;
  text-align: center;
  max-width: 100%;
  padding-left: 0.875em;
  padding-right: 0.875em;
}

.portfolio-section h2 {
  padding-top: 2.6em;
  padding-bottom: 2.6em;
  font-size: 1.2em;
  text-transform: uppercase;
}

.portfolio-item {
  padding-bottom: 35px;
}

.portfolio-item:last-child {
  padding-bottom: 65px;
}

.portfolio-item:last-child,
.portfolio-item:last-child p {
  margin-bottom: 0;
}

.portfolio-item h3 {
  margin-top: 30px;
}



/*****************************************
  CONTACT SECTION LAYOUT & STYLES
******************************************/

.contact-section {
  margin-left: 0.875em;
  margin-right: 0.875em;
  padding-top: 3.4em;
  padding-bottom: 3.4em;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.contact-section h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.contact-section a {
  padding-left: 5px;
  font-weight: bold;
  color: #7F7F7F;
}



/*****************************************
  CONTACT SECTION LAYOUT & STYLES
******************************************/

.main-footer {
  padding-top: 1.625em;
  padding-bottom: 1.625em;
  padding-left: 0.875em;
  padding-right: 0.875em;
}

.main-footer h4 {
  float: left;
}

.main-footer > a {
  float: right;
  font-weight: bold;
  color: #727272;
}

.footer-nav {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/*****************************************
  MEDIA QUERIES
******************************************/
@media (min-width: 768px) {
  .main-nav li {
    display: inline-block;
    background: transparent;
  }

  .main-nav li a {
    padding-left: 1em;
    padding-right: 1em;
    color: #727272;
  }

  .about-section h2 {
    margin-bottom: 15px;
  }

  .about-section img {
    float: right;
    width: 43%;
  }

  .about-section p {
    text-align: left;
    margin-top: 0;
    float: left;
    width: 55%;
    font-size: 1.2em;
  }

  .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-item {
    width: 49%;
  }

  .contact-section {
    max-width: 75%;
    margin: 0 auto;
  }

  .main-footer > a {
    display: none;
  }

  .footer-nav {
    display: initial;
    float: right;
  }

  .footer-nav li {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .footer-nav li a {
    color: #727272;
    font-weight: 700;
  }
}

@media (min-width: 1024px) {
  .main-header {
    height: 50px;
    padding-top: 2em;
    padding-left: 0.875em;
    padding-right: 0.875em;
  }

  .logo {
    float: left;
    line-height: 50px;
    padding: 0;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    margin-bottom: 0;
  }

  .main-nav a {
    padding: 0;
    line-height: 50px;
  }

  .about-section {
    clear: both;
  }

  .portfolio-section {
    margin: 0 auto;
    max-width: 95%;
  }

  .portfolio-item {
    width: 32%;
  }
}
